@import "tailwindcss";
@import 'primeicons/primeicons.css';

body {
  background-color: #d7e3fc;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
